<div class="row mt-4" style="min-height: 450px;">
    <div class="col-md-6 col-sm-8 col-lg-4">
        <div class="d-flex flex-column">
            <div class="form-group">
                <label>Country</label>
                <select class="form-control">
                    <option>Albania</option>
                </select>
            </div>
            <div class="form-group">
                <label>Exclude</label>
                <select class="form-control">
                    <option>Rental Cars</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center" style="column-gap: 20px;">
    <button class="btn btn-primary btn-default">Submit</button>
    <button class="btn btn-outline-dark">Cancel</button>
</div>
